@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
@font-face {
  font-family:Abaddon;
  src: url(../fonts/fast-hand-font/Abaddon.ttf);
}
@font-face {
  font-family:CELTG;
  src: url(../fonts/fast-hand-font/CELTG___.TTF);
}
@font-face {
  font-family:Aunchanted Bold Regular;
  src: url(../fonts/Aunchanted.ttf);
}
.head_text {
  font-family: 'CELTG' , 'Abaddon' , 'AunchantedBold';
  font-weight: bold;
  font-size: 28px;
  color: #fafafa;
}
.dud {
  color: #757575;
}



h1 {
  font-family: 'CELTG' , 'Abaddon' , 'AunchantedBold';
  letter-spacing: 0.18em;
}

p {
  font-family: 'Orbitron', sans-serif;;
  font-size: 24px;
  letter-spacing: 0.15em;
}

#logo {
    user-select: none;
    margin: 3px 80px;

}